* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Stick+No+Bills:wght@200..800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Stick+No+Bills:wght@200..800&display=swap');
  
  .section1-item1 {
    width: 1920px;
    height: 810px;
    background-image: url('./img/aaacd5fcb853d556e12a45b0f923a1f6.jpg');
    background-position: center;
    background-size: cover;
    filter: brightness(80%);
  }
  
  .parent-item1 {
    display: flex;
    justify-content: center;
    width: 1920px;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  .item1 {
    width: 320px;
    height: 320px;
    text-align: center;
    border: solid 4px #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }
  
  .item1-hr {
    width: 179px;
    height: 2px;
    background-color: #FFFFFF;
  }
  
  .h1 {
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: "Stick No Bills", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 95.69px;
    text-align: center;
    padding-top: 90px;
  }
  
  .h3 {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.47px;
    text-align: center;
  }
  
  .item1-p {
    text-align: center;
    width: 730px;
    padding-top: 110px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .section-items {
    width: 963px;
    height: 730px;
    background-color: #000000;
  }
  
  .section-items2 {
    background-image: url('./img/Rectangle 8.png');
    width: 963px;
    height: 730px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parent-section2 {
    display: flex;
    width: 1920px;
  }
  
  .section-items {
    display: flex;
    justify-content: space-evenly;
  }
  
  .items2 {
    width: 210px;
    height: 325px;
    background-color: #191B1C;
    margin-top: 300px;
  }
  
  .items3 {
    color: #FFFFFF;
    padding-top: 25px;
    height: 100%;
    font-family: "PT Sans", sans-serif;
  }
  
  .img {
    margin-top: 60px;
  }
  
  h3 {
    color: #FFFFFF;
  }
  
  .parent-section2 {
    position: relative;
  }
  
  .section-items {
    width: 963px;
    height: 730px;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }
  
  .season-title {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    font-family: "Playfair Display", serif;
    font-size: 34px;
    height: 80px;
    border-bottom: 2px solid #FFFFFF;
  }
  
  .section-items2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 310px;
    gap: 20px;
  }
  
  .season-title2 {
    font-size: 37px;
    font-family: "Playfair Display", serif;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 42.19px;
    text-align: center;
  }
  
  .hr {
    height: 1px;
    width: 200px;
    background-color: #FFFFFF;
  }
  
  .btn1 {
    width: 135px;
    height: 47px;
    border: none;
    background-color: transparent;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.29px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 15px;
  }
  
  .parent-item3 {
    background-image: url('./img/Rectangle\ 9\ \(1\).png');
    width: 963px;
    height: 690px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .parent-section3 {
    display: flex;
    width: 1920px;
  }
  
  .parent-item4 {
    background-color: #000000;
    width: 963px;
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    gap: 20px;
  
    p {
      width: 470px;
      height: 173px;
      text-align: center;
      font-family: "PT Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  
    h2 {
      font-family: "Playfair Display", serif;
      font-size: 36px;
      line-height: 42.19px;
      text-align: center;
      margin-bottom: 40px;
    }
  
    button {
      width: 311px;
      height: 47px;
      background-color: transparent;
      border: none;
      border: solid 2px #FFFFFF;
      color: #FFFFFF;
      font-family: "PT Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 23.29px;
      letter-spacing: 0.1em;
      text-align: center;
      margin-top: 10px;
    }
  }
  
  .parent-section4 {
    width: 1920px;
    height: 1289px;
    background-color: #000000;
  }
  
  .section4-item {
    h2 {
      color: #FFFFFF;
      font-family: "Playfair Display", serif;
      font-size: 36px;
      line-height: 42.19px;
      text-align: center;
      padding-top: 90px;
    }
  
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .hr4 {
    width: 120px;
    height: 1px;
    background-color: #FFFFFF;
  }
  
  .parent-section4 {
    display: flex;
    flex-direction: column;
  }
  
  .dis, .disp {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    flex-wrap: wrap;
    width: 1920px;
  }
  
  .items24 {
    width: 240px;
    height: 320px;
    background-color: #191B1C;
  }
  
  .img24 {
    margin: 35px 20px;
  }
  
  .parent-section5 {
    width: 1920px;
    height: 362px;
    background-color: #0F0F0F;
  }
  
  .section5-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
  
    h2 {
      color: #FFFFFF;
      font-family: "Playfair Display", serif;
      font-size: 36px;
      line-height: 42.19px;
      text-align: center;
      padding-top: 40px;
    }
  }
  
  @media (max-width: 900px) and (min-width: 290px) {
    .parent-section2 {
      flex-direction: column;
      width: 100%;
    }
  
    .item1-p {
      width: 330px;
    }
  
    .section1-item1, .parent-item1 {
      width: 100%;
    }
  
    .section-items {
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    .section-items2, .parent-item3, .parent-item4 {
      width: 100%;
    }
  
    .parent-section4 {
      width: 100%;
      height: 2000px;
    }
  
    .parent-section5 {
      width: 100%;
    }
  
    .dis {
      gap: 20px;
      text-align: center;
      flex-wrap: wrap;
      width: 100%;
    }
  
    .disp {
      flex-wrap: wrap;
      width: 100%;
    }
  
    .parent-section3 {
      flex-direction: column;
      width: 100%;
    }
  
    .parent-section5 {
      flex-direction: column;
      height: 700px;
    }
  }
  
  @media (max-width: 370px) and (min-width: 290px) {
    .parent-item4 .p {
      width: 200px;
    }
  
    .parent-section4 {
      width: 100%;
      height: 3800px;
    }
  
    .parent-item4 {
      height: 1000px;
      justify-content: center;
  
      h2 {
        margin-top: 20px;
      }
  
      p {
        padding-top: 0px;
      }
    }
  
    .season-title {
      text-align: center;
    }
  
    .parent-item4 button {
      margin-top: 250px;
      width: 250px;
    }
  }
  
  @media (max-width: 500px) and (min-width: 290px) {
    .parent-section4 {
      width: 100%;
      height: 3600px;
    }
  
    .parent-items3 {
      display: none;
    }
  }
  
  @media (max-width: 1800px) and (min-width: 1500px) {
    .section1-item1, .parent-item1, .parent-section2, .parent-section3, .parent-section4, .parent-section5, .dis, .disp {
      width: 100%;
    }
  }
  
  @media (max-width: 628px) {
    .parent-items1 {
      display: none;
    }
  }
  
  @media (max-width: 520px) and (min-width: 300px) {
    .parent-item4 {
      p {
        width: 300px;
      }
      
      gap: 140px;
    }
  
    .season-title {
      text-align: center;
      width: 100%;
    }
  }